body {
  position: relative;
}

#mainNav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #fff;
}

input[type=file] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-left: 0;
  cursor: pointer;
}

.file-upload-container {
  text-align: left;
}

#file-upload-filename {
  margin-left: 10px;
}

.pf {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
.pf .rtop {
  border-bottom: 0.5px solid lightgray;
  padding: 5px;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  display: flex;
  margin: 1% auto;
}
.pf .rtop .pimage {
  width: 20%;
}
.pf .rtop .pimage img {
  width: 70%;
  border-radius: 50%;
}
.pf .rtop .pt {
  width: 70%;
}
.pf .rtop .pt h2 {
  font-size: 1.5rem;
}
.pf .rtop .pt h3 {
  font-weight: normal;
  font-size: 0.8rem;
}
.pf .rtop #edit {
  margin-top: -1%;
  width: 5%;
}
.pf .rtop #edit:hover {
  cursor: pointer;
}
.pf .pother {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 80%;
  margin: 1% auto;
  border-bottom: 0.5px solid lightgray;
}
.pf .pother:last-child {
  border-bottom: 0;
}

.button {
  width: 70%;
  margin: 1% auto;
}
.button #save {
  display: block;
  background-color: #0069d9;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.button #save:hover {
  cursor: pointer;
}

.ef {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  height: -moz-fit-content;
  height: fit-content;
}
.ef .rtop {
  border-bottom: 0.5px solid lightgray;
  padding: 5px;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  display: flex;
  margin: 1% auto;
}
.ef .rtop .pimage {
  position: relative;
  width: 20%;
}
.ef .rtop .pimage img {
  width: 70%;
  border-radius: 50%;
}
.ef .rtop .pimage .edit-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.ef .rtop .pimage .edit-icon i {
  color: #0069d9;
  font-size: 1.2rem;
}
.ef .rtop .pimage .edit-icon:hover {
  background-color: #f0f0f0;
}
.ef .rtop .pt {
  width: 70%;
}
.ef .rtop .pt h2 {
  font-size: 1.5rem;
}
.ef .rtop .pt h3 {
  font-weight: normal;
  font-size: 0.8rem;
}
.ef .rtop #edit {
  margin-top: -1%;
  width: 5%;
}
.ef .rtop #edit:hover {
  cursor: pointer;
}
.ef .pother {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 80%;
  margin: 1% auto;
  border-bottom: 0.5px solid lightgray;
}
.ef .pother input {
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.ef .pother:last-child {
  border-bottom: 0;
}

#timer {
  position: absolute;
  top: 15%;
  left: 40%;
  width: 20%;
  margin: auto;
  z-index: 1;
}

.error {
  color: #f00;
  text-align: left;
  display: block;
  margin: 5px;
}

.success {
  color: #0f0;
  text-align: left;
  display: block;
  margin: 5px;
}

#search {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
}
#search input {
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 1%;
}
#search input:focus {
  border: none;
  outline: none;
}
#search img {
  width: 20px;
  margin-left: 15px;
}

.status {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.status p {
  text-align: left;
  opacity: 0.5;
  width: 25%;
}

.person {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
  width: 100%;
}
.person > p {
  text-align: left;
  width: 25%;
}
.person .pimage {
  width: 25%;
  display: flex;
  gap: 20px;
}
.person .pimage img {
  width: 15%;
  border-radius: 50%;
}
.person .manage {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
}
.person .manage #pedit {
  color: #0069d9;
}
.person .manage #pshow {
  color: rgb(131, 72, 5);
}
.person .manage:hover {
  cursor: pointer;
}
.person:hover {
  background-color: #f0f0f0;
}

.pagination {
  width: 100%;
}
.pagination span {
  padding: 10px;
}
.pagination span a {
  cursor: pointer;
}
.pagination > span {
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 2% auto;
}
.pagination > span:hover {
  cursor: default;
}/*# sourceMappingURL=styles.css.map */