$different:lightgray;
body{
    position:relative;
}
#mainNav{
    position:fixed;
    width:100%;
    z-index:1;
    background: #fff;
}
input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-left: 0;
    cursor: pointer;
}

.file-upload-container {
    text-align: left; 
}

#file-upload-filename {
    margin-left: 10px; 
}
.pf{
    width:70%;
    margin:0 auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #fff;
    padding:10px;
    border-radius: 20px;
    height:fit-content;
    position: relative;
    .rtop{
        border-bottom:0.5px solid $different;
        padding:5px;
        height:fit-content;
        width:80%;
        display:flex;
        margin: 1% auto;
        .pimage{
            width:20%;
            img{
                width:70%;
                border-radius: 50%;
            }
        }
        .pt{
            width:70%;
            h2{
                font-size: 1.5rem;
            }
            h3{
                font-weight: normal;
                font-size: 0.8rem;
            }
        }
        #edit{
            margin-top: -1%;
            width:5%;
        }
        #edit:hover{
            cursor: pointer;
        }
    }
    .pother{
        display:flex;
        justify-content: space-between;
        padding: 15px;
        width:80%;
        margin: 1% auto;
        border-bottom:0.5px solid $different;
    }
    .pother:last-child{
        border-bottom:0;
    }
}
.button{
    width:70%;
    margin:1% auto;
    #save,#psave{
        display:block;
        background-color:#0069d9;
        color:#fff;
        padding:10px;
        border-radius: 5px;
        border:none;
    }
    #save:hover,#psave:hover{
        cursor: pointer;
    }
}

.ef{
    width:70%;
    margin:0 auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #fff;
    padding:10px;
    border-radius: 20px;
    position:relative;
    height:fit-content;

  
    .rtop{
        border-bottom:0.5px solid $different;
        padding:5px;
        height:fit-content;
        width:80%;
        display:flex;
        margin: 1% auto;
        .pimage {
            position: relative;
            width: 20%;
            
            img {
                width: 70%;
                border-radius: 50%;
            }
        
         
            .edit-icon {
                position: absolute;
                bottom: 10px; 
                right: 10px;  
                background-color: #fff;
                border-radius: 50%;
                padding: 8px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        
                i {
                    color: #0069d9; 
                    font-size: 1.2rem;
                }
        

                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
        
        .pt{
            width:70%;
            h2{
                font-size: 1.5rem;
            }
            h3{
                font-weight: normal;
                font-size: 0.8rem;
            }
        }
        #edit{
            margin-top: -1%;
            width:5%;
        }
        #edit:hover{
            cursor: pointer;
        }
    }
    .pother{
        display:flex;
        justify-content: space-between;
        padding: 15px;
        width:80%;
        margin: 1% auto;
        border-bottom:0.5px solid $different;
        input{
            width: 70%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid lightgray;
        }
    }
    .pother:last-child{
        border-bottom:0;
    }
}
#timer{
    position:absolute;
    top:15%;
    left:40%;
    width:20%;
    margin:auto;
    z-index:1;
}
.error{
    color:#f00;
    text-align:left;
    display:block;
    margin:5px;
}
.success{
    color:#0f0;
    text-align:left;
    display:block;
    margin:5px;
}
#search{
    width:100%;
    margin:0 auto;
  
    padding:5px;
    height:fit-content;
    border:1px solid lightgray;
    border-radius:5px;
    display:flex;
    input{
        border:none;
        margin:0;
        padding:0;
        margin-left: 1%;
    }
    input:focus{
        border:none;
        outline:none;
    }
    img{
        width:20px;
        margin-left:15px;
    }
}
.status{
    display:flex;
    justify-content: space-between;
    width:100%;
    p{
        text-align: left;
        opacity:0.5;
        width:25%;
    }
}
.person{
    display:flex;
    padding:5px;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    width:100%;
    >p{
        text-align: left;
        width:25%
    }
    .pimage{
        width:25%;
        display:flex;
        gap:20px;
        img{
            width:50px;
            height:60px;
            border-radius: 40px;
        }

    }
    .manage{
        width:25%;
        display:flex;
        justify-content: flex-end;
        gap:5px;
        align-items: center;
        .pedit{
            color:#0069d9
        }
        .pshow{
            color:rgb(131, 72, 5)
        }
        &:hover{
            cursor: pointer;
        }
    }

    &:hover{
        background-color: #f0f0f0;
        
    }
}
.pagination{
    width:100%;
    span{
        padding:10px;
        a{
            cursor:pointer
        }
       
    }
    >span{
        padding:8px;
        border:1px solid lightgray;
        border-radius:5px;
        margin:2% auto;
        &:hover{
            cursor:default;
           
        }
    }
}
#popup{
    background-color:#0069d9;
    border-radius:10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width:40%;
    position:absolute;
    padding:10px;
    height:200px;
    top:20%;
    left:30%;
    z-index:2;
    p{
        text-align: center;
        color:#fff;
    }
    button{
        color:#ffffff;
        padding:10px;
        border-radius: 5px;
        border:none;
        display:block;
        width:80px;
        margin:0 auto;
        margin-top: 100px;
    }
}
.disabled{
    display:none;
}
#confirm{
   
    
    width:40%;
    position:absolute;
    border-radius:20px;
    top:10%;
    left:30%;
    padding:10px;
    z-index:2;
  
}

.ef ,.arow{
    position: relative; 
}

#x {
    position: absolute;
    left:90%;
    top: 2%;
    z-index: 1000; 
}
#ax {
    position: absolute;
    left:70%;
    top: 0;
    z-index: 1000; 
}

#x i{
    font-size: 2rem;
  
    cursor: pointer;
}
#ax i{
    font-size: 2rem;
  
    cursor: pointer;
}

.head{
    color:#0069d9;
    text-align: center;
    margin-bottom: 10px;
}
#au{
    display:block;
    width:50%;
    margin:2% auto;
    background-color:#0069d9;
    color:#fff;
    border-radius: 5px;
    text-transform: capitalize;
    padding:5px;
    text-align: center;
    height:40px;
    font-size:1.3rem;
    text-decoration: none;
    transition: width 1s, height 1s, font-size 1s; 
    
}
#au:hover{
    animation:anime 1s forwards;
    cursor: pointer;
}
@keyframes anime {
    from{
        width:50%;
        height:40px;
    }
    to{
        width:52%;
        height:44px;
        font-size: 1.4rem;
    }
}
footer{

    border-top:1px solid lightgray;
  
}
