{% extends "layout.html" %}
{% load static %}
{% block title %}Login EMS {% endblock %}
{% block info %}
<ul class="navbar-nav mx-auto"></ul><a class="btn btn-primary shadow"  role="button" href="{% url 'register' %}">Sign up</a>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 text-center"><img class="img-fluid w-100" src="{% static 'register.png' %}"></div>
        <div class="col-md-5 col-xl-4 text-center text-md-start">
            <h2 class="display-6 fw-bold mb-5"><span  class=" head underline pb-1"><strong id = "info">Log in</strong></span></h2>
            <form method="post" data-bs-theme="light" action = "{% url 'login' %}">
                {% csrf_token %}
            
                <div class="mb-3"><input class="shadow-sm form-control" type="text" name="username" placeholder="UserName"></div>
                <div class="mb-3"><input class="shadow-sm form-control" type="password" name="password" placeholder="Password"></div>
                <span class="error">
                    {%if errors %}
                    {{errors.error}}
                    {% endif %}
                </span>
                <span class="success">
                    {% if messages %}
                    {% for message in messages %}
                        
                            {{ message }}
                       
                    {% endfor %}
                {% endif %}
                </span>
                <div class="mb-5"><button class="btn btn-primary shadow" type="submit">Join</button></div>
            </form>


          
            <p class="text-muted">Doesn't have an account? <a href="{% url 'register' %}">Sign up&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l14 0"></path>
                        <path d="M15 16l4 -4"></path>
                        <path d="M15 8l4 4"></path>
                    </svg></a>&nbsp;</p>
        </div>
        
    </div>

  
{% endblock %}