{% extends "layout.html" %}
{% load static %}
{% block title %}Signup EMS {% endblock %}
{% block info %}
<ul class="navbar-nav mx-auto"></ul><a class="btn btn-primary shadow" id = "tab" role="button" href="#">Admin Sign up</a>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 text-center"><img class="img-fluid w-100 mt-5" src="{% static 'signup.png' %}"></div>
        <div class="col-md-5 col-xl-4 text-center text-md-start">
            <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1"><strong id = "info">Sign up</strong></span></h2>
            <form method="post" data-bs-theme="light" action = "{% url 'register' %}" enctype = "multipart/form-data">
                {% csrf_token %}
                <div class="mb-3"><input class="shadow-sm form-control" type="text" name="fullName" placeholder="Full Name"></div>
                <div class="mb-3"><input class="shadow-sm form-control" type="text" name="username" placeholder="UserName"></div>
                <div class="mb-3"><input class="shadow-sm form-control" type="email" name="email" placeholder="Email"></div>
                <div class="mb-3"><input class="shadow-sm form-control" type="date" name="date" placeholder="Date of Birth"></div>
                <div class="mb-3"><input class="shadow-sm form-control" id = "key" type="password" name="adminKey" placeholder="admin key"></div>
                <div class="mb-3"><input class="shadow-sm form-control" type="password" name="password" placeholder="Password"></div>
                <div class="mb-3"><input class="shadow-sm form-control" type="password" name="password_repeat" placeholder="Repeat Password"></div>
                <div class="file-upload-container">
                    <label for="file-upload" class="custom-file-upload">
                        Image Upload
                    </label>
                    <span id="file-upload-filename"></span>
                    <input id="file-upload" name = "image" type="file" onchange="displayFileName()" />
                </div>
                <span class="error">
                    {%if errors %}
                    {{errors.error}}
                    {% endif %}
                </span>
                <span class="success">
                    {%if success %}
                    {% endif %}
                </span>
                <div class="mb-5"><button class="btn btn-primary shadow" type="submit">Create account</button></div>
            </form>
            <p class="text-muted">Have an account? <a href="{% url 'login' %}">Log in&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M5 12l14 0"></path>
                        <path d="M15 16l4 -4"></path>
                        <path d="M15 8l4 4"></path>
                    </svg></a>&nbsp;</p>
        </div>
    </div>
 
{% endblock %}